body {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  margin-top: 0px;
  align-content: center;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(141, 141, 141);
  width: fit-content;
}
h3:hover {
  color: red;
}
form {
  margin: 20px;
  padding: 20px;
  background-color: rgb(209, 209, 209);
  border-radius: 10px solid black;
  box-shadow: 5px 10px rgb(0, 0, 0);
}
form:hover {
  box-shadow: 5px 10px rgb(222, 0, 0);
}

button {
  background-color: rgb(88, 88, 88);
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 4px;
}

button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
}

#input-text:focus,
#username:focus,
#email:focus,
#password:focus,
#confirm-password:focus,
#barber:focus,
#date:focus {
  outline: none;
}
